/*color templates and assigned variables*/
:root {
    --text-white: #fff;
    --text-black: black;
    --bg1-color: white;
    --project-txt: white;
    --project-color: #45567d;
    --color-sect: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1569&q=80');
    --footer-bg: url('https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
}
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* responsive properties */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
}
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
}
  /* responsive navigation */
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
}
/* responsive project list */
@media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
}
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
}
@media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
}
@media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
}
  /* main style */
body {
    font-family: 'Newsreader', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: var(--text-white);
}
h1,
h2 {
  font-family: 'NewsReader', sans-serif;
  font-weight: 800;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-white);
}

img {
  display: block;
  width: 100%;
}
/* navigation header */
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg1-color);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.nav-list {
    display: flex;
    margin-right: 1rem;
}
.nav-list a {
    display: block;
    font-size: 20px;
    padding: 1rem;
    color: var(--text-black);
}
  
  .nav-list a:hover {
    background: var(--project-txt);
    border-radius: 3px;
}
/* simple welcome section */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #000;
    background-image: var(--color-sect);
}
.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--bg1-color);
}
/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--project-color);
}
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--text-white);
}
  /* "Automagic" image grid using no media queries */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project {
    background: var(--project-txt);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
  
  .code {
    color: var(--project-txt);
    transition: color 0.3s ease-out;
}
  
  .project:hover .code {
    color: #ff7f50;
}
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: black;
}
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--project-color);
    transition: background 0.3s ease-out;
}
  
  .btn-show-all:hover {
    background: var(--bg1-color);
}
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
}
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0 2rem;
    background: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1569&q=80');
}
  
  .contact-section-header > h2 {
    font-size: 6rem;
}
  .contact-section-header > p {
    font-style: italic;
}
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px var(--text-black);
    color: var(--bg1-color);
    transition: transform 0.3s ease-out;
}
  
  .contact-details:hover {
    transform: translateY(8px);
}
  /* Footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--project-txt);
    border-top: 4px solid var(--main-purple);
}
  
  footer > p, a {
    margin: 2rem;
    color: var(--text-black);
}
  
  footer i {
    vertical-align: middle;
}